.t1 {
color: #4fe288;
font-size: xx-large;
color: rgba(0, 0, 252, alpha);
padding: 1px 0px 2px 12px;
width: 100%;
height:85px ;
background-color:#5580a5;
margin: -8px ;
border-color: chocolate;
border-style: solid solid dashed dotted;

}
.t3 {
color:rgba(0, 0, 25, alpha);
font-size: xx-large;
}
.t2 {
  color: lawngreen;
  font-size: largeS;
  padding: 52px 0px 0px  ;
  width: 100%;
}
label {
  color: sandybrown;
}
body {
  background-image: url("ball4.png") ;
  background-attachment: fixed;
  background-position: center;
}
.t {
  color: rgba(0, 0, 252, alpha);
  padding: 1px 0px 2px 900px;
  margin: 4px;
} 
.s1 {
  padding: 2px 2px 2px 2px;
  margin: -119px 33px 3px ;
  width: 80%;

}
footer {
  color: #7f0047;
}
.mang {
  color: gold;
  font-size:larger;
}
.fat {
  color: #4fe288;
  font-size: large;
}
hr {
  border-color:sandybrown ;
  border-style: dotted none none;
  border-width: 6px;
}
.im {
  margin: -109px 4px 17px 491px;  
}
